<div class="container bg-dark d-flex flex-column shadow  mb-3 p-2  rounded">
    <!-- <input class="form-control search"> -->
    <div class="input-group mb-3 search">
        <input type="text" class="form-control" placeholder="Search by tag">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary search-btn" type="button"><i class="fas fa-search"></i></button>
        </div>
    </div>
    <div class="m-2">
        <h5>Price</h5>
        <hr>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="price_range_1">
            <label class="form-check-label" for="price_range_1">
                < 20.0$ </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="price_range_2">
            <label class="form-check-label" for="price_range_2">
                20.0$ - 40.0$
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="price_range_3">
            <label class="form-check-label" for="price_range_3">
                40.0$ - 60.0$
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="price_range_4">
            <label class="form-check-label" for="price_range_4">
                60.0$ - 80.0$
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="price_range_5">
            <label class="form-check-label" for="price_range_5">
                80.0$ - 100.0$
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="price_range_6">
            <label class="form-check-label" for="price_range_6">
                100.0$ < </label>
        </div>
    </div>
    <div class="m-2">
        <h5>Platform</h5>
        <hr>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="apple" value="apple">
            <label class="form-check-label" for="apple">MacOS</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="windows" value="windows">
            <label class="form-check-label" for="windows">Windows</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="linux" value="linux">
            <label class="form-check-label" for="linux">Linux</label>
        </div>
    </div>
    <div class="m-2">
        <h5>Tags</h5>
        <hr>
        <!-- <select class="js-example-basic-multiple" name="tags[]" multiple="multiple">
            <option value="action">action</option>
            <option value="adv">adventure</option>
            <option value="scifi">sci-fi</option>
            <option value="sports">sports</option>
          </select> -->
    </div>
</div>