<div class="container bg-dark d-flex flex-column shadow  mb-3 p-2  rounded">
    <div class="input-group mb-3 search">
        <input type="text" class="form-control" placeholder="Search by tag">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary search-btn" type="button"><i class="fas fa-search"></i></button>
        </div>
    </div>
    <div class="m-2">
        <h5>Price</h5>
        <hr>
        <form [formGroup]="priceRange">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="range1" formControlName="range1"
                    (change)="onChangepriceRange()">
                <label class="form-check-label" for="range1">
                    < 20.0$</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="range2" formControlName="range2"
                    (change)="onChangepriceRange()">
                <label class="form-check-label" for="range2"> 20.0$ - 40.0$</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="range3" formControlName="range3"
                    (change)="onChangepriceRange()">
                <label class="form-check-label" for="range3">40.0$ - 60.0$</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="range4" formControlName="range4"
                    (change)="onChangepriceRange()">
                <label class="form-check-label" for="range4"> 60.0$ - 80.0$</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="range5" formControlName="range5"
                    (change)="onChangepriceRange()">
                <label class="form-check-label" for="range5">80.0$ - 100.0$</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="range6" formControlName="range6"
                    (change)="onChangepriceRange()">
                <label class="form-check-label" for="range6">100.0$ < </label>
            </div>
        </form>

        <!--   <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="price_range_1">
            <label class="form-check-label" for="price_range_1">
                < 20.0$ </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="price_range_2">
            <label class="form-check-label" for="price_range_2">
                20.0$ - 40.0$
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="price_range_3">
            <label class="form-check-label" for="price_range_3">
                40.0$ - 60.0$
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="price_range_4">
            <label class="form-check-label" for="price_range_4">
                60.0$ - 80.0$
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="price_range_5">
            <label class="form-check-label" for="price_range_5">
                80.0$ - 100.0$
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="price_range_6">
            <label class="form-check-label" for="price_range_6">
                100.0$ < </label>
        </div>-->
    </div>

    <div class="m-2">
        <h5>Tags</h5>
        <hr>
        <select class="selectpicker" multiple data-live-search="true" [(ngModel)]="tags" (change)="onChangeTags()">
            <option>action</option>
            <option>adventure</option>
            <option>sports</option>
            <option>sci-fi</option>
        </select>
    </div>
    <div class="m-2">
        <h5>Type</h5>
        <hr>
        <select class="selectpicker" multiple data-live-search="true" [(ngModel)]="types" (change)="onChangeTypes()">
            <option>Singleplayer</option>
            <option>Multiplayer</option>
        </select>
    </div>
    <div class="m-2">
        <h5>Platform</h5>
        <hr>

        <form [formGroup]="os">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="mac" formControlName="mac" (change)="onChangeOs()">
                <label class="form-check-label" for="mac">MacOS</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="windows" formControlName="windows"
                    (change)="onChangeOs()">
                <label class="form-check-label" for="windows"> Windows</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="linux" formControlName="linux"
                    (change)="onChangeOs()">
                <label class="form-check-label" for="linux">Linux</label>
            </div>
        </form>
        <!-- <div class="form-check">
            <input class="form-check-input" type="checkbox" id="mac" value="mac">
            <label class="form-check-label" for="mac">MacOS</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="windows" value="windows">
            <label class="form-check-label" for="windows">Windows</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="linux" value="linux">
            <label class="form-check-label" for="linux">Linux</label>
        </div> -->
    </div>

</div>