body{
    background-image: url("../../../assets/images/bgggg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: 'Nova Flat';

}
