<div class=" animated-box in">

    <app-title [titleContent]="updatedGameName"></app-title>

    <div class="d-flex ustify-content-center align-items-center ">

        <div class=" formCont">
            <form (ngSubmit)="update()" [formGroup]="gameForm"
                enctype="multipart/form-data">
                <div class="col">
                    <div class="row mb-3">
                        <div class="col-6">
                            <input formControlName="name" type="text"
                                class="form-control rounded p-3"
                                placeholder="Name"
                                aria-label="name">
                        </div>
                        <div class="col-6">
                            <input formControlName="price" type="number"
                                class="form-control rounded p-3"
                                placeholder="Price" aria-label="price">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6 ">

                            <mat-form-field appearance="outline"
                                style=" width: 100%;">
                                <mat-label>Tags</mat-label>
                                <mat-select formControlName="tag" multiple>
                                    <mat-option *ngFor="let tag of tagsList"
                                        [value]="tag">{{tag}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6">

                            <mat-form-field appearance="outline"
                                style=" width: 100%;">
                                <mat-label>Operating System</mat-label>
                                <mat-select formControlName="os" multiple>
                                    <mat-option *ngFor="let os of osList"
                                        [value]="os">{{os}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6">

                            <mat-form-field appearance="outline"
                                style=" width: 100%;">
                                <mat-label>types</mat-label>
                                <mat-select formControlName="type" multiple>
                                    <mat-option *ngFor="let type of typesList"
                                        [value]="type">{{type}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <!-- <div class="col-6" formArrayName="type">  
                            <select 
                                class="selectpicker w-100" multiple
                                data-live-search="true" title="Type"
                                >
                                <option value="multiplayer">Multiplayer</option>
                                <option value="singleplayer">Singleplayer</option>
                            </select>

                        </div>

                    </div>
                    <div class="row mb-3">
                        <div class="col-6" formArrayName="os">
                            <select 
                                class="selectpicker w-100"
                                multiple
                                data-live-search="true" title="Operation system"
                               >
                                <option value="linux">Linux</option>
                                <option value="mac">MacOs</option>
                                <option value="windows">Windows</option>
                            </select>

                        </div> -->

                        <div formArrayName="imageURL" class="col-6">
                            <div class="input-group mb-3">
                                <input (change)="onChangeFile($event)"
                                    name="images"
                                    type="file" class="form-control rounded p-3"
                                    id="inputGroupFile02" multiple>

                            </div>

                        </div>
                        <div class="row mb-3">
                            <div class="col-13">
                                <textarea formControlName="description"
                                    class="form-control w-100 rounded p-3"
                                    id="exampleFormControlTextarea1" rows="3"
                                    cols="50"
                                    placeholder="Descripe the new Game!"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-secondary  "
                        style="color: white;">Update Game</button>
                </div>

            </form>
        </div>
    </div>
</div>
