.page-container {
    /* background-image: url("../../../assets/images/characters/PkBYcGy.png"); */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-position: center; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
}

.profile-container {
    margin-top: 150px !important;
    /* background-color: rgba(112, 219, 142, 0.527); */
    width: 80%;
}
.overUser{
  width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.theme {
    align-items: center;
}

.profile-pic {
    width: 250px;
    height: 250px;
    border: 10px solid black;
    padding: 10px;
    overflow: hidden;
    justify-content: center;
    display: flex;
}

.header {
    justify-content: space-between;
}

.info {
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
    color: black;
}

.stat {
    background: linear-gradient(rgb(64, 64, 64) 0%, rgb(0, 0, 0) 100%);
    padding: 3px 18px;

}

.title:hover {
    cursor: pointer;
    color: #007bff;
}

.tags {
    flex-wrap: wrap;

}

.Preferences {
    align-items: baseline;
    flex-wrap: wrap;
}

.tag {
    height: fit-content;
    padding: 5px 18px;
}

.tagEdit {
    width: fit-content;
}

.level-container {
    color: black;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.level {
    width: 150px;
}

.separator {
    border: 2px solid lightgray
}

.card {
    overflow: hidden;
}

.card-img {
    width: 220px;
    height: 150px;
}

.games-purchased {
    justify-content: center;
    flex-wrap: wrap;
}
