.page-container {
    /* background-color: lightgray; */
    /* width: 100%; */
    background-image: url("../../../assets/images/pubg.png");
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
}

.profile-container {
    margin-top: 150px !important;
    background-color: rgba(112, 192, 219, 0.527);
    width: 80%;

}

.profile-pic {
    width: 250px;
    height: 250px;
    border: 10px solid black;
    padding: 10px;
    overflow: hidden;
    justify-content: center;
    display: flex;
}

.header {
    justify-content: space-between;
}

.info {
    align-items: center;
    width: 50%;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    color: black;
}

.stat {
    padding: 3px 18px;
    background-color: #5c527a;
}

.level-container {
    color: black;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.level {
    /* border-radius: 50%; */
    /* padding: 10px 15px; */
    width: 150px;
    /* border: 5px dashed #777a52; */
}

.separator {
    border: 2px solid lightgray
}

.card {
    overflow: hidden;
}

.card-img {
    width: 250px;
    height: 150px;
}

.games-purchased {
    justify-content: center;
}