/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bootstrap/dist/css/bootstrap.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

*
{
 font-family: 'Nova Flat';
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  
  ::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 50px;
    
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #2e2c2c; 
    border-radius: 50px;
  
  }