.card {
  width:100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: auto;
  background-color: transparent;
}

.left ,.right
{
  width: 50%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desc
{
  font-size: 15px;
}

.up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

* {
  color: white;
  border-radius: 10px;
}

.OS i {
  margin-right: 15px;
  font-size: 30px;
  float:left;
}



.type {
  display: flex;
  gap: 2%;
}




img {
  object-fit: unset !important;
}
.tag {
  display: flex;
  flex-wrap:wrap;
}
