<ng-container *ngIf="game">
  <div class="card  animated-box in">
    <app-title [titleContent]="game.name"></app-title>
    <div class="up">
      <div class="left">
        <gallery class="w-100 p-2 image-container shadow-lg rounded bg-dark"
          thumbPosition="bottom"
          [items]="images"></gallery>
      </div>
      <div class="right">
        <h4 class="fw-bold">About</h4>
        <!-- <hr> -->
        <h5 class="desc">{{ game.description }}</h5>
        <hr />
        <h6><i class="fa fa-money"></i> {{ game.price }}$</h6>
        <h6><i class="fa fa-calendar"></i> {{ game.releasedDate | date:
          'dd/MM/yyyy' }}</h6>
        <hr />
        <div class="tag">
        <h5 class="bg-dark p-1 m-1" *ngFor="let gameTag of game.tag">
          {{gameTag}}
        </h5>
      </div>
       <hr />
        <div class="type" *ngFor="let gameType of game.type">
          <i class="fa" [ngClass]="{
            'fa-user': gameType === 'singleplayer',
            'fa-users': gameType === 'multiplayer'
          }">
         
        </i>
        <p h3>{{gameType}}</p> 
        </div>
        <hr />
        <div class="OS">
          <i *ngFor="let operatingSystem of game.os" class="fa" [ngClass]="{
            'fa-apple': operatingSystem === 'mac',
            'fa-windows': operatingSystem === 'windows',
            'fa-linux': operatingSystem === 'linux'
          }"></i>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!game">
  <app-loading></app-loading>
</ng-container>