<ng-container *ngIf="game">
  <app-title [titleContent]="game.name"></app-title>
  <div class="card">
    <div class="up">
      <div class="left"></div>
      <div class="right">
        <h4>About</h4>
        <hr>
        <h5>{{ game.description }}</h5>
        <hr/>
        <h6><i class="fa fa-money"></i> {{ game.price }}$</h6>
        <h6><i class="fa fa-calendar"></i> {{ game.releasedDate | date: 'dd/MM/yyyy' }}</h6>
        <hr/>
        <div class="tag">
        <h5 class="bg-dark p-1" *ngFor="let gameTag of game.tag">
          {{gameTag}}
        </h5>
      </div>
       <hr />
        <div class="type">
          <i *ngFor="let gameType of game.type"class="fa" [ngClass]="{
            'fa-user': gameType === 'singleplayer',
            'fa-users': gameType === 'multiplayer'
          }">
            {{gameType}}
        </i>
        </div>
        <hr/>
        <div class="OS">
          <i *ngFor="let operatingSystem of game.os" class="fa" [ngClass]="{
            'fa-apple': operatingSystem === 'mac',
            'fa-windows': operatingSystem === 'windows',
            'fa-linux': operatingSystem === 'linux'
          }"></i>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!game">
  <app-loading></app-loading>
</ng-container>
