<app-title [titleContent]="Title"></app-title>

<div class="card">
  <h2 class="GameName">{{game.name}}</h2>
  <div class="Top">
    <div>
    <h6><i class="fa fa-money"></i> price: {{game.price}}$</h6>
    <h6><i class="fa fa-calendar"></i> date: {{game.releasedDate| date: 'dd/MM/yyyy'}}</h6>
    <h6><i class="fa fa-clock"></i> time: {{game.releasedDate | date: 'HH:mm:ss aa'}}</h6>
    </div>
    <div class="smallimages">
    <div  *ngFor="let imageUrl of game.images">
      <img [src]="imageUrl" alt="Product Image" (mouseover)="displayLargeImage(imageUrl)"/>
    </div>
   </div>
  </div>
  <div class="right">
    
     <div class="largeimage">
      <img [src]="hoveredImageUrl ? hoveredImageUrl : defaultImageUrl" alt="Large image">
    </div> 
    

    <h3 >
      Description: {{game.description}}
    </h3> 
    </div>

  <div class="type">
  <i *ngFor="let gameType of game.type"class="fa" [ngClass]="{
    'fa-user': gameType === 'singleplayer',
    'fa-users': gameType === 'multiplayer'
  }">
    {{gameType}}
</i>

</div>
<div class="down">
  <div class="OS">
      <i *ngFor="let operatingSystem of game.os" class="fa" [ngClass]="{
      'fa-apple': operatingSystem === 'mac',
      'fa-windows': operatingSystem === 'windows',
      'fa-linux': operatingSystem === 'linux'
    }"></i><h5 *ngFor="let gameTag of game.tag">
    {{gameTag}}
  </h5>
  </div>
  
</div>
</div>
<ng-template #falseBlock>
  <app-loading></app-loading>
</ng-template>
