.card {
  width: 80vw;
  background: rgb(38, 38, 38);
  box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.333);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: auto;
}

.left ,.right
{
  width: 50%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.smallimages {
  height: 30%;
  border: 2px solid white;
  display: flex;
  justify-content: space-between;
}

.smallimages img,
.largeimage img {
  width: 95% !important;
  height: 95% !important;
  object-fit: unset;
  padding: 2%;
  border: 2px dotted white;
}

.smallimages img {
  opacity: 0.7;
}

.smallimages img:hover {
  opacity: 1;
}

.largeimage {
  width: 100%;
  height: 80%;
}


* {
  color: white !important;
  border-radius: 10px;
}

.OS i {
  margin-right: 15px;
  font-size: 30px;
  float:left;
}



.type {
  display: flex;
  gap: 2%;
}




img {
  object-fit: unset !important;
}
.tag {
  display: flex;
}
