<app-navbar></app-navbar>
<div class="card orders-container">
    <div class="order-menu p-3 m-3 rounded shadow-lg ">
        <div class="m-3">
            <h1>
                My Orders
            </h1>
        </div>
            <div class="order-filter  m-3 p-1 rounded fs-5">
                <div class="order-type rounded p-3 ">Accepted</div>
                <div class="order-type rounded p-3 ">Pending</div>
                <div class="order-type rounded p-3 ">Rejected</div>
            </div>
        <app-order-item></app-order-item>

    </div>
</div>
<app-footer></app-footer>