<app-navbar></app-navbar>
<div class="card orders-container">
    <div class="order-menu p-3 m-3 rounded shadow-lg ">
        <div class="m-3">
            <h1>
                My Orders
            </h1>
        </div>
        <div class="order-filter m-3 p-1 rounded fs-5">
            <div class="order-type rounded p-3 ">Accepted</div>
            <div class="order-type rounded p-3 ">Pending</div>
            <div class="order-type rounded p-3 ">Rejected</div>
        </div>
        <div class="order bg-dark shadow-lg rounded m-3 p-4">
            <div class="order-header">
                <div class="text-dark order-id fs-6">
                    Order <span class="text-primary">#645f86656ed52be85f8efb90</span>
                </div>
                <p class="m-3">Order Placed: Thursday 15th Feb, 2023</p>
            </div>
            <hr class="m-4">
            <div class="order-body">
                <div class="order-item p-3">
                    <img class="game-img " src="../../../assets/images/OIP.jpg">
                    <div class="item-details  mt-1">
                        <div class="fs-5">
                            Valorant
                        </div>
                        <div class="price">
                            <p class="text-secondary">
                                Price
                            </p>
                            <p class="fs-4">100 $</p>
                        </div>
                    </div>
                </div>
                <hr class="m-4">
                <div class="order-item p-3">
                    <img class="game-img " src="../../../assets/images/cod.jpg">
                    <div class="item-details mt-1">
                        <div class="fs-5">
                            Call of Duty
                        </div>
                        <div class="price">
                            <p class="text-secondary">
                                Price
                            </p>
                            <p class="fs-4">26.50 $</p>
                        </div>
                    </div>
                </div>
                <hr class="m-4">
            </div>
            <div class="order-footer">
                <div class="col1">
                    <p class="text-secondary">
                        NO. OF ITEMS</p>
                    <p class="m-3">2</p>
                </div>
                <div class="col2">
                    <p class="text-secondary">
                        TOTAL PRICE</p>
                    <p class="m-3">200.00 $</p>
                </div>
            </div>
        </div>
        <div class=" bg-dark shadow-lg rounded m-3 p-4">
            <div class="order-header">
                <div class="text-dark order-id fs-6">
                    Order <span class="text-primary">#645f86656ed52be85f8efb90</span>
                </div>
                <p class="m-3">Order Placed: Thursday 15th Feb, 2023</p>
            </div>
            <hr class="m-4">
            <div class="order-body">
                <div class="order-item p-3">
                    <img class="game-img " src="../../../assets/images/lol.jpg">
                    <div class="item-details  mt-1">
                        <div class="fs-5">
                            League of Legends
                        </div>
                        <div class="price">
                            <p class="text-secondary">
                                Price
                            </p>
                            <p class="fs-4">100 $</p>
                        </div>
                    </div>
                </div>
                <hr class="m-4">
            </div>
            <div class="order-footer">
                <div class="col1">
                    <p class="text-secondary">
                        NO. OF ITEMS</p>
                    <p class="m-3">2</p>
                </div>
                <div class="col2">
                    <p class="text-secondary">
                        TOTAL PRICE</p>
                    <p class="m-3">200.00 $</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>