<app-navbar></app-navbar>
<div class="card orders-container">
    <div class="order-menu p-3 m-3 rounded shadow-lg ">
        <div class="m-3">
            <h1>
                My Orders
            </h1>
        </div>

        <div class="order-filter m-3 p-1 rounded fs-5">
            <label class="order-type rounded p-3 " *ngFor="let option of options"
                [class.selected]="option.value === selectedValue">
                <input (change)="filterData()" type="radio" [formControl]="radioControl" [value]="option.value">
                {{ option.label }}
            </label>
        </div>
        <app-order-item *ngIf="filteredOrders.length>0 else elseblock" (itemDeleted)="refresh()"
            [filteredOrders]="filteredOrders"></app-order-item>
        <ng-template #elseblock>
            <p class="text-center m-3 p-5 bg-dark rounded">No orders to show yet</p>
        </ng-template>
    </div>
</div>
<app-footer></app-footer>