.button--rounded {
    border-radius: 50%;
    font-size: 1rem;
    padding: .75rem;
    background-color: #1F1D2B;
    color: white;
    cursor: pointer;
    text-align: center;
  }
  
  .button--right-pad {
    margin-right: 1rem;
  }
  
  .button--pad {
    margin-right: .5rem;
    margin-left: 1rem;
  }

  table {
    width: 100%;
  }