<body>
  <!-- <form  (ngSubmit)="Add()" [formGroup]="validationForm"> -->
  <!-- </form> -->
<div id="main" class="mx-auto">
  <div class="container">
    <h1 class="text-center">Registration</h1>
    <form class="myForm" (ngSubmit)="onSubmit()">
     <app-form-main-info
        (myEvent)="getData($event)"
        (matchPassEvent)="matchPassword($event)"
        (mainInfoData)="getMain($event)">
    </app-form-main-info>

  <div class="row mt-3">
      <p class="col-md-6">Have an accout? <a href="/login">Sign in</a></p>
      <button type="submit"  [disabled]="!validMainInfo|| !matchPass" class="btn btn-outline-light col-md-3 offset-md-3">Register</button>
  </div>
    </form>
  </div>
</div>
</body>
