*{
  color: white;
  font-family: 'Nova Flat';
}
html,body{
  margin: 0;
}

body{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; /* clip the image */
  z-index: -1;
}

body::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  filter: blur(15px);
  background-image: url("/assets/images/modern-battlefield.png");
  background-size: cover;
  z-index: -1;
}


#main{
  position: relative;
  background-size: cover;
  width: 50%;
  padding: 3em 4em;
  margin-top: calc(100%/30);


}
#main::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/stone.jpg");
  border-radius: 40px !important;
  opacity: 0.7;
}
.container {
  position: relative;

}

.errMsg{
  color: red;
}

@media screen and (max-width: 600px) {
  #main {
    width: 80%;
  }
}
