.main-container{
    background-image: url("../../../assets/images/131147-abstract-cool-grey-polygon-background-design-vector.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 300px; */
}
.left-col {
    justify-content: center;
    align-items: center;
}
.featured-container{
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Featured-icon{
    width: 20%;
    margin: 30px;
}
.card{
    background-color: rgba(255, 255, 255, 0.867);
}
/* Logo's width */
/* .editWidth{
  width: 10em;
} */
