<footer id="footer-3-cols" class="site-footer">
<div id="footer-container" class="container">
  <div id="footer-grid">
      <div id="left-footer-section" class="footer-section">

          <div class="footer-information">
              <div class="footer-information">
                <h3>Information</h3>
              <p><i class="fa fa-map-marker mx-2" aria-hidden="true"></i>Verkhy street, Moscow, Russia</p>
              <p><i class="fa fa-phone mx-2" aria-hidden="true"></i>7 (800) 555–35–35</p>
              <p><i class="fa fa-envelope mx-2" aria-hidden="true"></i>storm@reply.io</p>
          </div>
          </div>
      </div>
      <div id="second-footer-section" class="footer-section">
          <div class="footer-links">
              <h3>Categories</h3>
              <ul>
                  <li role="menuitem"><a href="#">Actions</a></li>
                  <li role="menuitem"><a href="#">Adventure</a></li>
                  <li role="menuitem"><a href="#">Puzzle</a></li>
                  <li role="menuitem"><a href="#">Cars</a></li>
              </ul>
          </div>
      </div>
      <div id="right-footer-section" class="footer-section">
          <div class="footer-links">
              <h3>Pages</h3>
              <ul>
                  <li role="menuitem"><a href="#">Home</a></li>
                  <li role="menuitem"><a href="#">About</a></li>
                  <li role="menuitem"><a href="#">Contact Information</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div id="copyright-information">
      <div id="footer-logo-section">
          <div id="footer-logo">
              <img src="https://raw.githubusercontent.com/taviskaron/2-3-4-column-footers/main/img/logo.png" alt="">
          </div></div>
      <div id="copyright-text">
      &copy; Storm Gaming.
      </div>
      <div id="social-buttons">
        <!-- <i class="fa fa-facebook" aria-hidden="true"></i> -->
          <img src="https://img.icons8.com/ios-filled/25/999999/facebook--v1.png"/>
          <img src="https://img.icons8.com/ios-filled/25/999999/telegram-app.png"/>
          <img src="https://img.icons8.com/ios-filled/25/999999/pinterest--v1.png"/>
          <img src="https://img.icons8.com/ios-filled/25/999999/instagram--v1.png"/>
      </div>
  </div>
</div>
</footer>


