<section class="container shadow-lg rounded">

  <main>

    <section class="summary shadow-lg mb-3">
      <div class="items">🛒 3 items</div>
      <div class="total">$415.00 💲</div>
    </section>

    <section class="actions shadow-lg">
      <a routerLink="/payment"><button>Checkout 💳</button></a>
    </section>

    <section class="cart shadow-lg">
      <ul>
        <li class="item shadow-lg mb-3">
          <div class="d-flex gap-4">
            <div class="image">
              <img src="../../../assets/images/cod.jpg">
            </div>

            <div>
              <h4 class="name">Call of Duty </h4>
              <p>Single player</p>
              <div class="os d-flex gap-2">
                <i class='fab fa-apple' ></i>
                <i class='fab fa-windows'></i>
              </div>
            </div>
          </div>

          <div>
            <p class="price">$231.00</p>
            <p><button>Remove</button></p>
          </div>
        </li>

        <li class="item shadow-lg mb-3">
          <div class="d-flex gap-4">
            <div class="image">
              <img src="../../../assets/images/lol.jpg">
            </div>
            <div>
              <h4 class="name">Game 1</h4>
              <p>Multiple player</p>
              <div class="os d-flex gap-2">
                <i class='fab fa-apple' ></i>
              </div>
            </div>
          </div>
          <div>
            <p class="price">$115.00</p>
            <p><button>Remove</button></p>
          </div>
        </li>

        <li class="item shadow-lg mb-3">
          <div class="d-flex gap-4">
            <div class="image">
              <img src="../../../assets/images/OIP.jpg">
            </div>
            <div>
              <h4 class="name">Game2</h4>
              <p>Single player</p>
              <div class="os d-flex gap-2">
                <i class='fab fa-windows'></i>
              </div>
            </div>
          </div>
          <div>
            <p class="price">$69.00</p>
            <p><button>Remove</button></p>
          </div>
        </li>
      </ul>

      <section class="shadow-lg d-flex justify-content-around">
        <a routerLink="/games"><button>Continue Shipping</button></a>
        <button>Remove All</button>
      </section>
    </section>

    <section class="promo text-center shadow-lg">
      <div><p class="spin-emoji">🌟</p> Offer Ends Soon! <p class="spin-emoji">🌟</p></div>
    </section>


  </main>

</section>
