<!-- <div class="card orders-container">
  <div class="order-menu p-3 m-3 rounded shadow-lg ">
      <div class="m-3">
          <h1>
              My Orders
          </h1>
      </div>
          <div class="order-filter  m-3 p-1 rounded fs-5">
              <div class="order-type rounded p-3 ">Accepted</div>
              <div class="order-type rounded p-3 ">Pending</div>
              <div class="order-type rounded p-3 ">Rejected</div>
          </div>
<div class="order bg-dark m-3 shadow-lg rounded p-4">
  <div class="order-header">
      <div class="text-dark order-id fs-6">
          Order <span class="text-primary">#645f86656ed52be85f8efb90</span>
      </div>
      <p class="m-3">Order Placed: Thursday 15th Feb, 2023</p>
  </div>
  <hr class="ms-4 me-4">
  <div class="order-body">
      <div class="order-item ms-3">
          <img class="game-img " src="../../../assets/images/OIP.jpg">
          <div class="item-details  mt-1">
              <div class="fs-5">
                  Valorant
              </div>
              <div class="price">
                  <p class="text-secondary">
                      Price
                  </p>
                  <p class="fs-4">100 $</p>
              </div>
          </div>
      </div>
      <hr class="ms-4 me-4">
      <div class="order-item ms-3">
          <img class="game-img " src="../../../assets/images/cod.jpg">
          <div class="item-details mt-1">
              <div class="fs-5">
                  Call of Duty
              </div>
              <div class="price">
                  <p class="text-secondary">
                      Price
                  </p>
                  <p class="fs-4">26.50 $</p>
              </div>
          </div>
      </div>
      <hr class="ms-4 me-4">
  </div>
  <div class="order-footer ms-3 me-3">
      <div class="col1">
          <button class="btn cancel-btn btn-outline-secondary"> <i class="close-icon fa fa-times fs-4 "></i> CANCEL
              OREDR </button>
      </div>
      <div class="col2">
          <p class="text-secondary">
              TOTAL PRICE</p>
          <p class="m-3">200.00 $</p>
      </div>
  </div>
</div>
</div>
</div>
<app-footer></app-footer> -->
<!-- <div class="container bg-dark d-flex flex-row shadow  mb-3 p-2  rounded" >
  <div class="d-flex flex-row ">
      <div class="image">
          <img src="../../../assets/images/OIP.jpg">

      </div>
      <div class="d-flex flex-column details">
          <h4 class="game-title"></h4>
          <div class="d-flex flex-row">
              <!-- for tags
              <div  >
                  <p class="tag p-1 text-center"></p>
              </div>
              <div  >
                  <p class="tag p-1 text-center"></p>
              </div>
              <!-- <p class="tag p-1 text-center   ">Singleplayer</p>
          </div>
          <div class="d-flex flex-row">
              <p>June 16, 2020</p>
              <!-- for os
              <div class="os">
                  <i class='fab fa-apple' ></i>
                  <i class='fab fa-windows'></i>
              </div>
          </div>
          <p class="rev text-success"> <i class='fas fa-users'></i> 10,000 | <span class="text-primary">200 reviews
              </span>
          </p>
      </div>
  </div>

</div> -->

<section class="container shadow-lg rounded">

  <main>

    <section class="summary shadow-lg mb-3">
      <div class="items">🛒 3 items</div>
      <div class="total">$415.00 💲</div>
    </section>

    <section class="actions shadow-lg">
      <button>Checkout 💳</button>
    </section>

    <section class="cart shadow-lg">
      <ul>
        <li class="item shadow-lg mb-3">
          <div class="d-flex gap-4">
            <div class="image">
              <img src="../../../assets/images/cod.jpg">
            </div>

            <div>
              <h4 class="name">Call of Duty </h4>
              <p>Single player</p>
              <div class="os d-flex gap-2">
                <i class='fab fa-apple' ></i>
                <i class='fab fa-windows'></i>
              </div>
            </div>
          </div>

          <div>
            <p class="price">$231.00</p>
            <p><button>Remove</button></p>
          </div>
        </li>

        <li class="item shadow-lg mb-3">
          <div class="d-flex gap-4">
            <div class="image">
              <img src="../../../assets/images/lol.jpg">
            </div>
            <div>
              <h4 class="name">Game 1</h4>
              <p>Multiple player</p>
              <div class="os d-flex gap-2">
                <i class='fab fa-apple' ></i>
              </div>
            </div>
          </div>
          <div>
            <p class="price">$115.00</p>
            <p><button>Remove</button></p>
          </div>
        </li>

        <li class="item shadow-lg mb-3">
          <div class="d-flex gap-4">
            <div class="image">
              <img src="../../../assets/images/OIP.jpg">
            </div>
            <div>
              <h4 class="name">Game2</h4>
              <p>Single player</p>
              <div class="os d-flex gap-2">
                <i class='fab fa-windows'></i>
              </div>
            </div>
          </div>
          <div>
            <p class="price">$69.00</p>
            <p><button>Remove</button></p>
          </div>
        </li>
      </ul>

      <section class="shadow-lg d-flex justify-content-around">
        <button>Continue Shipping</button>
        <button>Remove All</button>
      </section>
    </section>

    <section class="promo text-center shadow-lg">
      <div>🌟 Offer Ends Soon! 🌟</div>
    </section>


  </main>

</section>



<!-- <div class="container bg-dark shadow-lg mb-3 p-2 border rounded" >

    <main>

      <section class="summary">
        <div class="items">🛒 3 items</div>
        <div class="total">$415.00 💲</div>
      </section>

      <section class="actions">
        <button>Checkout 💳</button>
      </section>

      <section class="cart">
        <ul>
          <li class="item shadow mb-5">
            <h3 class="name">Ladies Frock </h3>
            <p class="price">$231.00</p>
          </li>
          <li class="item shadow mb-5">
            <h3 class="name">Mens Runners </h3>
            <p class="price">$115.00</p>
          </li>
          <li class="item shadow mb-5">
            <h3 class="name">Undies </h3>
            <p class="price" title="(nice)">$69.00</p>
          </li>
        </ul>
      </section>

      <section class="promo">
        <div>🌟 Offer Ends Soon! 🌟</div>
      </section>



    </main>

</div> -->

