<div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card bg-primary text-white">
          <div class="card-body">
            <h1 class="card-title">125</h1>
          </div>
          <div class="card-footer">Invoices</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card bg-success text-white">
          <div class="card-body">
            <h1 class="card-title">50</h1>
          </div>
          <div class="card-footer">Processes</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card bg-info text-white">
          <div class="card-body">
            <h1 class="card-title">354</h1>
          </div>
          <div class="card-footer">Processed jobs</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card bg-secondary text-white">
          <div class="card-body">
            <h1 class="card-title">45</h1>
          </div>
          <div class="card-footer">Errors</div>
        </div>
      </div>
    </div>
  </div>
  