<div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card bg-primary text-white">
          <div class="card-body">
            <h1 class="card-title">{{itemsCount}}</h1>
          </div>
          <div class="card-footer">Games</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card bg-success text-white">
          <div class="card-body">
            <h1 class="card-title">{{usersCount}}</h1>
          </div>
          <div class="card-footer">Users</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card bg-info text-white">
          <div class="card-body">
            <h1 class="card-title">{{ordersCount}}</h1>
          </div>
          <div class="card-footer">Orders</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card bg-secondary text-white">
          <div class="card-body">
            <h1 class="card-title">{{revenue}}$</h1>
          </div>
          <div class="card-footer">Revenue</div>
        </div>
      </div>
    </div>
  </div>
