
  <!-- <form  (ngSubmit)="Add()" [formGroup]="validationForm"> -->
  <!-- </form> -->
  <div id="body">
    <div id="main" class="mx-auto">
      <div class="container">
        <h1 class="text-center">Login</h1>

        <!-- Print Error if any -->
        <span *ngIf="errorMsg">
          <h5 class="text-center mt-3 errMsg">{{errorMsg}}</h5>
        </span>

        <form class="myForm" (ngSubmit)="onSubmit()">
          <div class="row" [formGroup]="mainInfo">

            <div class="mb-3">
              <div
                [ngClass]="{'error':email.invalid && (email.dirty || email.touched)}">
                <label for="emailInput" class="form-label">Email address</label>
                <span *ngIf="email.invalid && (email.dirty || email.touched)">
                  <span class="ms-3 errMsg" *ngIf="email.hasError('required')">Required</span>
                  <span class="ms-3 errMsg" *ngIf="email.hasError('email')">Invalid
                    Email Format</span>
                </span>
                <input type="text" class="form-control" id="emailInput"
                  name="email" aria-describedby="emailHelp"
                  formControlName="email" (blur)="updateView()">
              </div>
            </div>

            <div class="mb-3">
              <div
                [ngClass]="{'error':password.invalid && (password.dirty || password.touched)}">
                <label for="passwordInput" class="form-label">Password</label>
                <span
                  *ngIf="password.invalid && (password.dirty || password.touched)">
                  <span class="ms-3 errMsg" *ngIf="password.hasError('required')">Required</span>
                  <span class="ms-3 errMsg" *ngIf="password.hasError('minlength')">Minimum
                    Length is 6</span>
                </span>
                <input type="password" class="form-control" id="passwordInput"
                  name="password" aria-describedby="passwordHelp"
                  formControlName="password" (blur)="updateView()">
              </div>
            </div>

            <div class="row mt-3">
              <p class="col-md-6">Don't have an accout? <a routerLink="/register">Sign
                  up</a></p>
              <button type="submit" [disabled]="!mainInfo.valid"
                class="btn btn-outline-light col-md-3 offset-md-3">Login</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>


