.sidebar {
  width: 220px;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transition-duration: 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
  color: #fff;
}

/* .sidebar .logo {
  display: none;
  width: 30px;
  height: 30px;
  background-color: #22b07d;
  flex-shrink: 0;
  color: #fff;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
} */

.sidebar .logo-expand {
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  line-height: 34px;
  position: sticky;
  top: 0;
}

/* .sidebar .logo-expand:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  background: var(--theme-bg);
  width: 200px;
  height: 70px;
  z-index: -1;
} */

.sidebar .sidebar-link {
  &:hover,
  &.is-active {
    color: #fff;
    font-weight: 600;
  }
}


.sidebar.collapse {
  width: 90px;
  border-right: 1px solid var(--border-color);
}

.sidebar.collapse .logo-expand,
.sidebar.collapse .side-title {
  display: none;
}

.sidebar.collapse .logo {
  display: flex;
}

.sidebar.collapse .side-wrapper {
  width: 30px;
}

.sidebar.collapse .side-menu svg {
  margin-right: 30px;
}

@keyframes bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.side-menu {
  display: flex;
  flex-direction: column;
}

.side-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--body-color);
}

.side-menu a + a {
  margin-top: 26px;
}

.side-menu svg {
  width: 30px;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--button-bg);
  flex-shrink: 0;
  margin-right: 16px;
}

.side-menu svg:hover {
  color: #fff;
}

.side-title {
  font-size: 12px;
  letter-spacing: 0.07em;
  margin-bottom: 24px;
}

.side-wrapper {
  border-bottom: 1px solid var(--border-color);
  padding: 36px 0;
  width: 145px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
