body{
  background-color: lightblue !important;
}
.main-profile-img{
  width: 40px;
  cursor: pointer;
}
.username a{
  text-decoration: none;
  color: black;
}
.sub-menu-link{
  transition: transform 0.3s ease;

}
.user-wrap{
  width: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  overflow: hidden;
  height: 0;
  transition: 1s;
}

.user{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 0 0 1em;
  margin-bottom: -0.7em; /* To be handled*/
}
.profile-img{
  max-width: 20%;
}

.user-info span{
  font-size: 1.3em;
  margin-left: 0.6em;
  font-weight: 500;
}

.hr{
  width: 90%;
}

.links{
  width: 90%;
}
.sub-menu-link{
  display: flex;
  margin-left: 1em;
  margin-top: -1em; /* To be handled*/
}

.element{
  margin-right: 0.5em;
}

.sub-menu-link > a{
  color: black;
  text-decoration: none;
}

.sub-menu-link:hover{
  transform: scale(1.1);
}

.expand .user-wrap{
  height: 12.5em !important;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
