<div class="container bg-dark d-flex flex-row shadow  mb-3 p-2  rounded">
    <div class="d-flex flex-row ">
        <div class="image">
            <img src="../../assets/images/OIP.jpg">
            <div class="overlay">
                <span class="text">Valorant</span>
            </div>
        </div>
        <div class="d-flex flex-column details">
            <h4>Valorant</h4>
            <div class="d-flex flex-row">
                <!-- for tags -->
                <p class="tag p-1 text-center   ">Action</p>
                <p class="tag p-1 text-center   ">Multiplayer</p>
                <p class="tag p-1 text-center   ">Singleplayer</p>
            </div>
            <div class="d-flex flex-row">
                <p>June 16, 2020</p>
                <!-- for os -->
                <div class="os">
                    <i class='fab fa-apple '></i>
                    <i class='fab fa-windows '></i>
                </div>
            </div>
            <p class="rev text-success"> <i class='fas fa-users'></i> 10,000 | <span class="text-primary">200 reviews
                </span>
            </p>
        </div>
    </div>
    <div class=" shadow-sm d-flex flex-column-reverse ">
        <h4 class="price">20.00$</h4>
    </div>
</div>
