<table mat-table [dataSource]="dataSource" >
  <!-- Define your table columns -->
  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let order">{{ order._id }}</td>
  </ng-container>
  <ng-container matColumnDef="numGames">
    <th mat-header-cell *matHeaderCellDef>no. of items</th>
    <td mat-cell *matCellDef="let order">{{ order.numGames }}</td>
  </ng-container>
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef>Total</th>
    <td mat-cell *matCellDef="let order">{{ order.total }}</td>
  </ng-container>
  <!-- Repeat the same structure for other columns -->

  <!-- Render the table rows -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Add the paginator below the table -->
<mat-paginator [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page">
</mat-paginator>