<app-navbar></app-navbar>
<video class="container-fluid" loop="" muted="" autoplay="" playsinline="" poster="https://cdn.akamai.steamstatic.com/steam/clusters/frontpage/537f97557c1b5f6d112cd059/page_bg_english.jpg?t=1683671735" class="fullscreen-bg__video">
  <source src="https://cdn.akamai.steamstatic.com/steam/clusters/frontpage/537f97557c1b5f6d112cd059/mp4_page_bg_english.mp4?t=1683671735" type="video/mp4">
</video>
<!-- <img class="container-fluid" src="https://cdn.akamai.steamstatic.com/steam/clusters/frontpage/537f97557c1b5f6d112cd059/page_bg_english.jpg?t=1683671735"> -->

<section class="container d-flex flex-column mb-2">
  <h3 class="title1 text-white p5 mt-4 mb-3">Trending Games</h3>

  <div class="d-flex justify-content-center col-12 content">
    <button (click)="ShowPrevious()" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" class="prev col-1"> ❮ </button>

    <div class="container row col-10 shadow-lg">
      <div class="image col-md-8 ">
        <img [src]="images[currentImageIndex].src" />
      </div>

      <div class="col-md-4 d-flex flex-column right-side">
        <p class="container text-white p-2 fs-3">{{images[currentImageIndex].title}}</p>

        <div class="side d-flex gap-3">

          <!-- <img [src]="images[currentImageIndex].image" /> -->
          <img *ngFor="let image of images[currentImageIndex].photo;
          let i = index" [src]="image" (mouseover)="setCurrentImage(i)" (mouseout)="onMouseOut()">

          <!-- <div *ngFor="let slide of images; let i = index">
            <img *ngFor="let photo of slide.photo;
            let j = index" [src]="photo" (mouseover)="setCurrentImage(i, j)">
          </div> -->

        </div>
        <!-- <div class="side d-flex gap-2">
          <img src="https://i.ytimg.com/vi/_fPJoRFGZpc/maxresdefault.jpg">
          <img src="https://th.bing.com/th/id/OIP._TdlTXLwsbDRxzgoAga19wEsC0?pid=ImgDet&rs=1">
        </div> -->
        <!-- <div class="side d-flex gap-2">
          <img src="https://th.bing.com/th/id/OIP.pHS9-oSfeh2Y2BtzLdoRzAAAAA?pid=ImgDet&w=255&h=255&rs=1">
          <img src="https://i.ytimg.com/vi/h6sH1KYID44/maxresdefault.jpg">
        </div> -->
      </div>
    </div>


    <!-- <div class="slideshow">
      <div class="content" *ngFor="let slide of slides; let i = index"
           [class.active]="isActiveSlide(i)">
        <h2>{{ slide.title }}</h2>
        <p>{{ slide.description }}</p>
      </div>
      <div class="dots">
        <span *ngFor="let slide of slides; let i = index"
              [class.active]="isActiveSlide(i)"
              (click)="setActiveSlide(i)"></span>
      </div>
    </div> -->
    <button (click)="ShowNext()" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" class="next col-1"> ❯ </button>
  </div>

<!-- <div class="container">
  <img [src]="currentindex">
</div>
<ul>
  <li *ngFor="let image of image">
    <img [src]="image.src" [alt]="image.alt" (mouseover)="setCurrentImage(image)">
  </li>
</ul> -->

<!-- Your Cards are there -->
<app-home-cards></app-home-cards>
</section>
<app-footer></app-footer>

