@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;400;600&display=swap");

video{
 width:100%;
 position: relative;
 top:0px;
}

.prev, .next{
  cursor: pointer;
  height: 10vh; /*middle of div*/
  width:3vw;
  margin-top:10%;
  font-weight: bold;
  font-size: 30px;
  background: linear-gradient(to bottom right, #40434f, #5e6164);
  transition: 0.6s;
  border-radius: 0 5px 5px 0;
}
.next {
  border-radius: 5px 0 0 5px;
}

.prev:hover, .next:hover {
  background: linear-gradient(to bottom right, #5d5e67, #a8a9aa);
}

h1{
  color:white
}

.tag {
  width: fit-content;
  padding: 1px;
  margin-left: 3px;
  background-color: rgb(39, 41, 53);
  font-size: small;
}

#about{
  padding: 5em 0;
}

.image{
  height: 25rem;
}

.image img{
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 2px  rgba(0,0,0,0.2);
}

.right-side{
  background: linear-gradient(to bottom right, #29262a, #2b2b2c);;
}

.side{
  flex-wrap: wrap;
}

.side img{
  width: 47%;
  height: 12vh;
  opacity: 0.6;
}

.side img:hover{
  opacity: 1;
}

.price_tag {
  border-top: 2px solid #fba830;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Adjust the shadow properties as needed */
}

.price{
  color:#fba830
}

.tag {
  width: fit-content;
  padding: 1px;
  margin-left: 3px;
  background-color: rgb(39, 41, 53);
  font-size: small;
  color:white;
  flex-wrap: wrap;
}

button{
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 16px 0 rgba(0,0,0,0.19);
}
