<!-- <p style="color: antiquewhite;">dashboard works!</p> -->
<body class="d-flex align-items-center justify-content-center " style="background-color: #212529;">
    <div class=" cont">
        <app-sidenav></app-sidenav>
        <div class="vertical-line"></div>
        <div class="wrapper">
            <app-header></app-header>
            <!-- <app-chart></app-chart> -->
            <!-- <app-dashboard-home></app-dashboard-home> -->
            <!-- <app-users-table></app-users-table> -->
            <!-- <app-dashboard-orders></app-dashboard-orders> -->
            <app-dashboard-products></app-dashboard-products>
            <!-- <app-loading></app-loading> -->
            </div>
            </div>

    <!-- </div> -->

    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->
  </body>
