<nav class="nav" [ngClass]="{'affix': isScrolled}">
  <div class="container">
    <div class="logo">
        <a href="#">Logo</a>
    </div>
    <div id="mainListDiv" class="main_list">
        <ul class="navlinks">
            <li><a routerLink="/">About</a></li>
            <li><a routerLink="/register">Porfile</a></li>
            <li><a routerLink="/games">Store</a></li>
            <li><a routerLink="/orders">Orders</a></li>
            <li><a href="#">Categories</a></li>
            <!-- <li><a href="#">Contact Us</a></li> -->
        </ul>
    </div>
    <span class="navTrigger">
        <i></i>
        <i></i>
        <i></i>
    </span>
  </div>
</nav>
