<ng-container >
  <div class="row" [formGroup]="mainInfo">

  <div class="mb-3">
    <div [ngClass]="{'error':name.invalid && (name.dirty || name.touched)}">
      <label for="nameInput" formControlName="name" class="form-label">Name</label>
      <span *ngIf="name.invalid && (name.dirty || name.touched)">
        <span class="ms-3 errMsg" *ngIf="name.hasError('required')">Required</span>
        <span class="ms-3 errMsg" *ngIf="name.hasError('minlength')">Minimum Length is 6</span>
        <span class="ms-3 errMsg" *ngIf="name.hasError('forbiddenUsername')">Name can't be {{mainInfo.get("name").value}}</span>
      </span>
      <input type="text" class="form-control" id="nameInput" name="name" aria-describedby="emailHelp" formControlName="name" (blur)="updateView()">
    </div>

  </div>

  <div class="mb-3">
    <div [ngClass]="{'error':username.invalid && (username.dirty || username.touched)}">
      <label for="usernameInput" formControlName="username" class="form-label">Username</label>
      <span *ngIf="username.invalid && (username.dirty || username.touched)">
        <span class="ms-3 errMsg" *ngIf="username.hasError('required')">Required</span>
        <span class="ms-3 errMsg" *ngIf="username.hasError('minlength')">Minimum Length is 6</span>
      </span>
      <input type="text" class="form-control" id="usernameInput" name="username" aria-describedby="emailHelp" formControlName="username" (blur)="updateView()">
    </div>
  </div>

  <div class="mb-3">
    <div [ngClass]="{'error':email.invalid && (email.dirty || email.touched)}">
      <label for="emailInput" formControlName="email" class="form-label">Email address</label>
      <span *ngIf="email.invalid && (email.dirty || email.touched)">
        <span class="ms-3 errMsg" *ngIf="email.hasError('required')">Required</span>
        <span class="ms-3 errMsg" *ngIf="email.hasError('email')">Invalid Email Format</span>
      </span>
      <input type="text" class="form-control" id="emailInput" name="email" aria-describedby="emailHelp" formControlName="email" (blur)="updateView()">
    </div>
  </div>

  <div class="mb-3">
    <div [ngClass]="{'error':password.invalid && (password.dirty || password.touched)}">
      <label for="passwordInput" formControlName="password" class="form-label">Password</label>
      <span *ngIf="password.invalid && (password.dirty || password.touched)">
        <span class="ms-3 errMsg" *ngIf="password.hasError('required')">Required</span>
        <span class="ms-3 errMsg" *ngIf="password.hasError('minlength')">Minimum Length is 6</span>
      </span>
      <input type="password" class="form-control" id="passwordInput" name="password" aria-describedby="passwordHelp" formControlName="password" (blur)="updateView()">
    </div>
  </div>

  <!-- <div class="mb-3">
    <div [ngClass]="{'error':confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)}">
      <label for="passwordInput" formControlName="confirmPassword" class="form-label">Confirm Password</label>
      <span *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        <span class="ms-3 errMsg" *ngIf="confirmPassword.hasError('passwordNotMatched')">Password doesn't match</span>
      </span>
      <input type="password" class="form-control" id="passwordInput" name="password" aria-describedby="passwordHelp" formControlName="confirmPassword" (blur)="updateView()">
    </div>
  </div> -->

  <div class="mb-3">
    <div>
      <label for="pass2Input" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="pass2Input">
    </div>
  </div>

  <div class="row mt-3">
    <p class="col-md-6">Have an accout? <a href="">Sign in</a></p>
    <button type="button" class="btn btn-outline-light col-md-3 offset-md-3">Next</button>
  </div>
</div>
</ng-container>
