/* Colors */
:root {
    --midnight: #2c3e50;
    --clouds: #ecf0f1;
  }
  
  /* General */
  body {
    color: var(--midnight);
    background: var(--clouds);
    padding: 0 1em 1em;
  }
  
  h1 {
    margin: 0;
    line-height: 2;
    text-align: center;
  }
  
  h2 {
    margin: 0 0 .5em;
    font-weight: normal;
  }
  
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  
  /* Layout */
  .row {
    display: flex;
  }
  
  .row .col {
    flex: 1;
  }
  
  .row .col:last-child {
    margin-left: 1em;
  }
  
  /* Accordion styles */
  .tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  }
  
  .tab {
    width: 100%;
    color: white;
    overflow: hidden;
  }
  
  .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: var(--midnight);
    font-weight: bold;
    cursor: pointer;
  }
  
  .tab-label:hover {
    background: darken(var(--midnight), 10%);
  }
  
  .tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
  }
  
  .tab-content {
    max-height: 0;
    padding: 0 1em;
    color: var(--midnight);
    background: white;
    transition: all 0.35s;
  }
  
  .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: var(--midnight);
    cursor: pointer;
  }
  
  .tab-close:hover {
    background: darken(var(--midnight), 10%);
  }
  
  /* :checked */
  input:checked + .tab-label {
    background: darken(var(--midnight), 10%);
  }
  
  input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }
  