<div class="order bg-dark m-3 shadow-lg rounded p-4">
    <div class="order-header">
        <div class="text-dark order-id fs-6">
            Order <span class="text-primary">#645f86656ed52be85f8efb90</span>
        </div>
        <p class="m-3">Order Placed: Thursday 15th Feb, 2023</p>
    </div>
    <hr class="ms-4 me-4">
    <div class="order-body">
        <div class="order-item ms-3">
            <img class="game-img " src="../../../assets/images/OIP.jpg">
            <div class="item-details  mt-1">
                <div class="fs-5">
                    Valorant
                </div>
                <div class="price">
                    <p class="text-secondary">
                        Price
                    </p>
                    <p class="fs-4">100 $</p>
                </div>
            </div>
        </div>
        <hr class="ms-4 me-4">
        <div class="order-item ms-3">
            <img class="game-img " src="../../../assets/images/cod.jpg">
            <div class="item-details mt-1">
                <div class="fs-5">
                    Call of Duty
                </div>
                <div class="price">
                    <p class="text-secondary">
                        Price
                    </p>
                    <p class="fs-4">26.50 $</p>
                </div>
            </div>
        </div>
        <hr class="ms-4 me-4">
    </div>
    <div class="order-footer ms-3 me-3">
        <!-- <div class="col1">
            <button class="btn  ms-3 btn-success">Accept</button>
            <button class="btn  ms-3 btn-danger">Decline</button>
        </div> -->
        <div class="col1">
            <button class="btn cancel-btn btn-outline-secondary"> <i class="close-icon fa fa-times fs-4 "></i> CANCEL
                OREDR </button>
        </div>
        <div class="col2">
            <p class="text-secondary">
                TOTAL PRICE</p>
            <p class="m-3">200.00 $</p>
        </div>
    </div>
</div>